

/** Styles for component demo, not related to the components itself **/

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 80%);
}

.spacer {
    height: 128px;
    width: 100%;
}

#common-area,
.common-divider {
    margin-bottom: 0;
    padding: 16px 32px;
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
    display: block;
}

#common-area img#aura-logo {
    filter: invert(1);
    margin: 0 0 8px 0;
}

#common-area h1,
.common-divider h1 {
    font-size: 16px;
    margin-bottom: 32px;
}

#common-area p,
.common-divider p {
    max-width: 400px;
}

#common-area a,
#common-area a:visited,
#common-divider a,
#common-divider a:visited {
  color: var(--mdc-theme-primary);
}

#common-area a:hover,
.common-divider a:hover {
	text-decoration: underline;
}

/** Componentent Containers **/

.component-container {
    margin: 32px;
    width: calc(100% - 64px);
}

/* Animations */

.animation-pulse {
	animation: pulse 2.3s infinite;
	border-radius: 50%;
	}

	@keyframes pulse {
	0% {
		transform: scale(0.94);
		box-shadow: 0 0 0 0 rgba(238, 174, 202, 0.5);
	}
	80% {
		transform: scale(1);
		box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
	}
	100% {
		transform: scale(0.92);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	}