
/** MATERIAL DESIGN SETTINGS **/

/* Theme colors. */
:root {
    --mdc-theme-primary: #40b3ff;
    --mdc-theme-secondary: #676778;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #eee;
    --mdc-theme-error: #b71c1c;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: #fff;
    --mdc-theme-text-secondary-on-dark: hsla(0, 0%, 100%, 0.7);
    --mdc-theme-text-hint-on-dark: hsla(0, 0%, 100%, 0.5);
    --mdc-theme-text-disabled-on-dark: hsla(0, 0%, 100%, 0.5);
    --mdc-theme-text-icon-on-dark: hsla(0, 0%, 100%, 0.5);
  }

  /* Layout grid spacing. */
  :root {
    --mdc-layout-grid-margin-desktop: 24px;
    --mdc-layout-grid-gutter-desktop: 24px;
    --mdc-layout-grid-column-width-desktop: 72px;
    --mdc-layout-grid-margin-tablet: 16px;
    --mdc-layout-grid-gutter-tablet: 16px;
    --mdc-layout-grid-column-width-tablet: 72px;
    --mdc-layout-grid-margin-phone: 16px;
    --mdc-layout-grid-gutter-phone: 16px;
    --mdc-layout-grid-column-width-phone: 72px;
  }


/** AURA ICONS **/

.aura-icons > div {
  background-image: url(assets/aura-logo.png);
  background-size: 70px;
  background-position: center -5px;
}
.aura-icon.cba {
  background-image: url("https://cba.media/wp-content/themes/cba2020/images/cba_logo.svg");
  color: transparent;
}

/** RESPONSIVE SETTINGS **/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .card-container .aura-card h1 {
    font-size: 1.3rem;
  }
  .card-container .aura-card h2 {
    font-size: 1.2rem;
  }
  .card-container .aura-card h3 {
    font-size: 1.0rem;
  }
  .card-container .aura-card h4 {
    font-size: 0.9rem;
  }
  .heading.subtitle {
    font-size: 1.2rem;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .card-container .aura-card h1 {
    font-size: 1.8rem;
  }
  .card-container .aura-card h2 {
    font-size: 1.5rem;
  }
  .card-container .aura-card h3 {
    font-size: 1.3rem;
  }
  .card-container .aura-card h4 {
    font-size: 1.2rem;
  }
  .heading.subtitle {
    font-size: 1.5rem;
  }
  .card-container.list .aura-card.category {
    width: 400px;
  }
  .card-container.list:not(.contained) .aura-card.show {
    width: calc(50% - 32px);
  }
  .card-container.detail .aura-card.show .show-image {
    width: 320px;
    height: 180px;
  }
  .card-container.list:not(.contained) .aura-card.host {
    width: 280px;
    height: 280px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}