<script lang="ts">
  import { getContext } from 'svelte'
  import Display from '../common/Display.svelte'
  // import HeadingTag from './HeadingTag.svelte'

  export let category: { [name: string]: any }
  export let language: string = ''
  export let headingLevel: number = 1

  const categoryContext: { [name: string]: any } = getContext('category')
  const renderHtml: boolean = categoryContext.renderHtml
</script>

<style lang="scss">
  h2 {
    margin: 0;
  }
</style>

<template>
  <div class="category-info">
    <div class="heading">
      {#if category.id}
        <i class="aura-icons">
          <div class="icon-category-{category.id}" />
        </i>
      {/if}
      <div class="title-wrapper">
        {#if headingLevel < 2}
          <h1 class="title">
            {category.name}
            {#if language}
              <span class="language-wrapper">
                (
                <span class="language-key lang-{language}">{language}</span>
                )
              </span>
            {/if}
          </h1>
        {:else}
          <h2 class="title">
            {category.name}
            {#if language}
              <span class="language-wrapper">
                (
                <span class="language-key lang-{language}">{language}</span>
                )
              </span>
            {/if}
          </h2>
        {/if}
        <span class="heading subtitle">
          {#if category.subtitle}{category.subtitle}{/if}
        </span>
      </div>
    </div>

    <p class="description cat-{category.id}">
      <Display value={category.description} {renderHtml} renderLinks={true} />
    </p>
  </div>
</template>
