<script>
  import { onMount } from 'svelte'
  import { getEpisodeImageData } from '../common/Common.svelte'

  export let episode = undefined
  export let show = undefined

  let image

  /* Initialize the component */
  onMount(() => {
    image = getEpisodeImageData(show, episode)
  })
</script>

<style lang="scss">
  .episode-image img {
    width: 100%;
  }
</style>

<template>
  <div class="episode-image">
    {#if image}
      <img src={image.src} alt={image.alt} />
    {:else}
      <div class="image-not-available" />
    {/if}
  </div>
</template>
