<script>
  import { onMount } from 'svelte'
  import { Content, Actions } from '@smui/card'
  import Button, { Label } from '@smui/button'
  import {
    settings,
    openLink,
    hasEpisodeMedia,
    getEpisodeImageData,
  } from '../common/Common.svelte'
  import { hasCbaMediaUrl, fetchMediaMetadata } from '../common/CBA.svelte'
  import { openMediaPlayerPopup } from '../common/MediaPlayerOpener.svelte'
  import { customUrl } from '../stores.js'
  export let show = undefined
  export let episode = undefined
  export let embedCbaPlayer = false
  export let labelPlay = 'Play'
  export let labelLinkArchive = 'Listen in archive'
  export let playInPopup = true

  let track
  let urlMedia
  let urlMediaCBA

  /* Initialize the component */
  onMount(() => {
    if (hasEpisodeMedia(episode)) {
      if (hasCbaMediaUrl(episode)) {
        urlMediaCBA = episode.note.audio_url
          fetchMediaMetadata(episode.note.audio_url, processResponse)
      } else {
        urlMedia = episode.note.audio_url
      }
    }
  })

  /* Callback to process the API response */
  function processResponse(data) {
    console.log('CBA API response:', data)
    urlMedia = data[0]?.source_url

    let trackData = {
      name: episode.note.title,
      artist: show.name,
      album: episode.note.summary,
      url: urlMedia,
      cover_art_url: getEpisodeImageData(show, episode).src,
    }
    track = trackData
  }

  /* Message the player to player the given audio URL */
  function play() {
    if (playInPopup) {
      openMediaPlayerPopup(settings.mediaPlayer, track, true)
    } else {
      console.log('Updating custom audio url in store to ', track)
      customUrl.update(() => track)
    }
  }
</script>

<style lang="scss">

</style>

<template>
  {#if urlMedia}
    {#if embedCbaPlayer && urlMediaCBA}
      <Content class="media-player">
        <iframe
          id="cba-embedded-player"
          title="Embedded CBA Player"
          src="{urlMediaCBA}{settings.cba.embed}"
          width="100%"
          height="99"
          style="border:none; width:100%; height:99px;" />
      </Content>
    {:else}
      <Content class="mdc-typography--body2 media">
        <Actions class="episode-media">
          {#if track}
            <Button
              variant="outlined"
              class="open-media-player"
              on:click={() => {
                play()
              }}>
              <Label class="play">{labelPlay}</Label>
            </Button>
          {:else}
            <Button
              variant="outlined"
              class="open-archive"
              on:click={openLink(urlMedia)}>
              <Label class="archive-url">{labelLinkArchive}</Label>
            </Button>
          {/if}
        </Actions>
      </Content>
    {/if}
  {/if}
</template>
