<script>
  export let playlistItemCurrent = undefined
</script>

<style type="scss">
  /* Media Player Center */

  #aura-media-player-center {
    padding-top: 24px;
  }
  #aura-media-player-center div.song-meta-data span.song-name {
    color: #414344;
    display: block;
    text-align: center;
    font-size: 20px;

    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  #aura-media-player-center div.song-meta-data span.song-artist {
    color: #aaafb3;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  #aura-media-player-center div.time-progress {
    margin-bottom: 30px;
  }
  #aura-media-player-center div.time-progress span.current-time {
    color: #aaafb3;
    font-size: 12px;
    display: block;
    float: left;
    margin-left: 20px;
  }
  :global(#aura-media-player-center div.time-progress div#progress-container) {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    height: 20px;
    cursor: pointer;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container:hover
      input[type='range'].amplitude-song-slider::-webkit-slider-thumb) {
    display: block;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container:hover
      input[type='range'].amplitude-song-slider::-moz-range-thumb) {
    visibility: visible;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-played-progress) {
    width: 100%;
    position: absolute;
    left: 0;
    top: 8px;
    right: 0;
    width: 100%;
    z-index: 60;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: 5px;
    background: transparent;
    border: none;
    /* Needed for Firefox */
  }
  @media all and (-ms-high-contrast: none) {
    #aura-media-player-center
      div.time-progress
      div#progress-container
      *::-ms-backdrop,
    #aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-played-progress {
      color: #fa6733;
      border: none;
      background-color: #e1e1e1;
    }
  }
  @supports (-ms-ime-align: auto) {
    #aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-played-progress {
      color: #fa6733;
      border: none;
    }
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-played-progress[value]::-webkit-progress-bar) {
    background: none;
    border-radius: 5px;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-played-progress[value]::-webkit-progress-value) {
    background-color: #fa6733;
    border-radius: 5px;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-played-progress::-moz-progress-bar) {
    background: none;
    border-radius: 5px;
    background-color: #fa6733;
    height: 5px;
    margin-top: -2px;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-buffered-progress) {
    position: absolute;
    left: 0;
    top: 8px;
    right: 0;
    width: 100%;
    z-index: 10;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    border-radius: 5px;
    background: transparent;
    border: none;
    background-color: #d7dee3;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-buffered-progress[value]::-webkit-progress-bar) {
    background-color: #e1e1e1;
    border-radius: 5px;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-buffered-progress[value]::-webkit-progress-value) {
    background-color: #e1e1e1;
    border-radius: 5px;
    transition: width 0.1s ease;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-buffered-progress::-moz-progress-bar) {
    background: none;
    border-radius: 5px;
    background-color: #e1e1e1;
    height: 5px;
    margin-top: -2px;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      progress::-ms-fill) {
    border: none;
  }
  @-moz-document url-prefix() {
    #aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-buffered-progress {
      top: 9px;
      border: none;
    }
  }
  @media all and (-ms-high-contrast: none) {
    #aura-media-player-center
      div.time-progress
      div#progress-container
      *::-ms-backdrop,
    #aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-buffered-progress {
      color: #78909c;
      border: none;
    }
  }
  @supports (-ms-ime-align: auto) {
    #aura-media-player-center
      div.time-progress
      div#progress-container
      progress#song-buffered-progress {
      color: #78909c;
      border: none;
    }
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']) {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.5px 0;
    position: absolute;
    z-index: 9999;
    top: -7px;
    height: 20px;
    cursor: pointer;
    background-color: inherit;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']:focus) {
    outline: none;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-webkit-slider-runnable-track) {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #fa6733;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-webkit-slider-thumb) {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid #fa6733;
    height: 15px;
    width: 15px;
    border-radius: 16px;
    background: #fa6733;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']:focus::-webkit-slider-runnable-track) {
    background: #fa6733;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-moz-range-track) {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #fa6733;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-moz-range-thumb) {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid #fa6733;
    height: 15px;
    width: 15px;
    border-radius: 16px;
    background: #fa6733;
    cursor: pointer;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-ms-track) {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-ms-fill-lower) {
    background: #003d57;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-ms-fill-upper) {
    background: #fa6733;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']::-ms-thumb) {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid #fa6733;
    height: 15px;
    width: 15px;
    border-radius: 16px;
    background: #fa6733;
    cursor: pointer;
    height: 0px;
    display: none;
  }
  @media all and (-ms-high-contrast: none) {
    #aura-media-player-center
      div.time-progress
      div#progress-container
      *::-ms-backdrop,
    #aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range'].amplitude-song-slider {
      padding: 0px;
    }
    #aura-media-player-center
      div.time-progress
      div#progress-container
      *::-ms-backdrop,
    #aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range'].amplitude-song-slider::-ms-thumb {
      height: 15px;
      width: 15px;
      border-radius: 10px;
      cursor: pointer;
      margin-top: -8px;
    }
    #aura-media-player-center
      div.time-progress
      div#progress-container
      *::-ms-backdrop,
    #aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range'].amplitude-song-slider::-ms-track {
      border-width: 15px 0;
      border-color: transparent;
    }
    #aura-media-player-center
      div.time-progress
      div#progress-container
      *::-ms-backdrop,
    #aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range'].amplitude-song-slider::-ms-fill-lower {
      background: #e1e1e1;
      border-radius: 10px;
    }
    #aura-media-player-center
      div.time-progress
      div#progress-container
      *::-ms-backdrop,
    #aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range'].amplitude-song-slider::-ms-fill-upper {
      background: #e1e1e1;
      border-radius: 10px;
    }
  }
  @supports (-ms-ime-align: auto) {
    #aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range'].amplitude-song-slider::-ms-thumb {
      height: 15px;
      width: 15px;
      margin-top: 3px;
    }
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']:focus::-ms-fill-lower) {
    background: #fa6733;
  }
  :global(#aura-media-player-center
      div.time-progress
      div#progress-container
      input[type='range']:focus::-ms-fill-upper) {
    background: #fa6733;
  }
  :global(#aura-media-player-center div.time-progress span.duration) {
    color: #aaafb3;
    font-size: 12px;
    display: block;
    float: right;
    margin-right: 20px;
  }
</style>

<div id="aura-media-player-center">

  <div class="song-meta-data">
    <span class="song-name" title="{playlistItemCurrent.name}">{playlistItemCurrent.name}</span>
    <span class="song-artist">{playlistItemCurrent.artist}</span>
  </div>

  <div class="time-progress" style="{playlistItemCurrent.live ? "visibility: hidden;" : ""}">
    <div id="progress-container">
      <input type="range" class="amplitude-song-slider" />
      <progress
        id="song-played-progress"
        class="amplitude-song-played-progress" />
      <progress
        id="song-buffered-progress"
        class="amplitude-buffered-progress"
        value="0" />
    </div>

    <div class="time-container">
      <span class="current-time">
        <span class="amplitude-current-minutes" />
        :
        <span class="amplitude-current-seconds" />
      </span>
      <span class="duration">
        <span class="amplitude-duration-minutes" />
        :
        <span class="amplitude-duration-seconds" />
      </span>
    </div>
  </div>
</div>
