<script>
  import Chip, { Set, LeadingIcon, Text } from '@smui/chips'
  import { openLink } from '../common/Common.svelte'

  export let category = undefined
  export let languages = undefined
  export let urlShowList = undefined
  export let displayCatTitle = undefined
  export let displayCatIcons = false
  export let displayLangIcons = false

  /* Builds an array of chips based on an show-object */
  function buildChips(category, languages) {
    let chips = []

    if (category) {
      let catChip = []
      catChip.id = category.id
      if (displayCatTitle)
        catChip.name = category.name.trim()
      else
        catChip.name = ""
      if (category.end)
        catChip.active = new Date(category.end) > new Date()
      else
        catChip.active = true
      if (category.subtitle && category.subtitle.trim()) {
        if (catChip.name.length > 0)
          catChip.name += " | "
        catChip.name += category.subtitle
      }
      catChip.type = 'category'
      chips.push(catChip)
    }

    if (languages) {
      for (let lang of languages) {
        let langChip = []
        langChip.id = lang.trim()
        langChip.name = lang.trim()
        langChip.type = 'language'
        langChip.active = true
        chips.push(langChip)
      }
    }
    return chips
  }

  /* Only open link if chip is activated */
  function evalLink(chip) {
    if (chip.active)
      openLink(`${urlShowList}?${chip.type}=${chip.id}`)
  }
</script>

<style lang="scss">

/* SMUI components need to be selected via global namespace */

</style>

<template>
  <Set chips={buildChips(category, languages)} let:chip class="show-chips">
    <Chip {chip} on:click={evalLink(chip)} class="{chip.active ? '' : 'disabled'}" ripple={chip.active}>
      {#if (chip.type == 'category' && displayCatIcons) || (chip.type == 'language' && displayLangIcons)}
        <LeadingIcon class="aura-icons">
          <div class="icon-{chip.type}-{chip.id}" />
        </LeadingIcon>
      {/if}
      <Text tabindex={0} class="{chip.type == 'language' ? 'language-key':''}">{chip.name}</Text>
    </Chip>
  </Set>
</template>
