<script lang="ts">
  import { onMount, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import { settings, fetchApi, shuffle } from '../common/Common.svelte'
  import CategoryCard from '../cards/CategoryCard.svelte'

  export let categoriesToDisplay: [] // Default: Display all categories
  export let shuffleCategories: boolean = false
  export let urlShowList: string
  export let renderHtml: boolean = false

  setContext('category', {
    renderHtml: renderHtml,
    urlShowList: urlShowList,
  })

  let categories: any[]

  /* Initialize the component */
  onMount(() => {
    let episodeUrl = `${settings.api.url}/${settings.api.endpoints.category}/`
    console.log('Categories API Url:' + episodeUrl)
    fetchApi(episodeUrl, processResponse)
  })

  /* Callback to process the API response */
  function processResponse(data: any) {
    console.log('Categories API response:', data)
    if (!categoriesToDisplay || categoriesToDisplay.length == 0) {
      if (shuffleCategories) data = shuffle(data)
      categories = data
    } else {
      let selectedCats: any[] = Array()
      for (let chosenCat of categoriesToDisplay) {
        for (let cat of data) {
          if (chosenCat == cat.id) {
            selectedCats.push(cat)
          }
        }
      }
      if (shuffleCategories) selectedCats = shuffle(selectedCats)
      categories = selectedCats
    }
  }
</script>

<style lang="scss">
  /* SMUI components need to be selected via global namespace */
  * :global(.aura-card.category) {
    width: 100%;
    height: 270px;
  }
  * :global(.aura-card.category > div) {
    height: 100%;
  }
</style>

<div class="card-container list">
  {#if categories}
    {#each categories as category}
      <CategoryCard {category} />
    {/each}
  {:else}
    <Spinner />
  {/if}
</div>
