<script>
  import { onMount, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import { settings, fetchApi } from '../common/Common.svelte'
  import EpisodeCardBig from '../cards/EpisodeCardBig.svelte'

  export let episodeId = undefined

  export let labelPlay = undefined
  export let labelLinkArchive = undefined
  export let urlShowDetail = undefined
  export let embedCbaPlayer = true
  export let renderHtml = false

  setContext('episode', {
    renderHtml: renderHtml,
  })

  let episode
  let show
  let tmp_episode

  /* Initialize the component */
  onMount(() => {
    let url = new URL(window.location.href)
    let urlId = url.searchParams.get('id')
    if (urlId) episodeId = urlId
    let endpointEpisode = settings.api.endpoints.episode
    let episodeUrl = `${settings.api.url}/${endpointEpisode}/${episodeId}?&withNote`
    console.log('Episode API Url:' + episodeUrl)
    fetchApi(episodeUrl, processEpisodeResponse)
  })

  /* Callback to process the API response */
  function processEpisodeResponse(data) {
    console.log('Episode API response:', data)

    // FIXME Extend AURA API to provide some necessary show details, such as:
    //  - slug (the note.slug from prog-info is currently empty)
    //  - show title
    //  - show image
    //
    // There should be no need to do an additional show query
    // @see https://gitlab.servus.at/aura/steering/-/issues/97
    tmp_episode = data
    let endpointShow = settings.api.endpoints.show
    let showUrl = `${settings.api.url}/${endpointShow}/${data.show}`
    console.log('Show API Url:' + showUrl)
    fetchApi(showUrl, processShowResponse)
  }

  /* Callback to process the API response */
  function processShowResponse(data) {
    console.log('Show API response:', data)
    show = data
    episode = tmp_episode
  }
</script>

<style lang="scss">

</style>

<div class="card-container detail">
  {#if episode}
    <EpisodeCardBig
      {show}
      {episode}
      {urlShowDetail}
      {labelPlay}
      {labelLinkArchive}
      {embedCbaPlayer} />
  {:else}
    <Spinner />
  {/if}
</div>
