<script>
  import { onMount, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import { settings, fetchApi } from '../common/Common.svelte'
  import HostCardBig from '../cards/HostCardBig.svelte'

  export let hostid = undefined

  export let renderHtml = false
  export let labelShows = undefined
  export let urlShowDetail = undefined

  setContext('host', {
    renderHtml: renderHtml,
  })
  setContext('show', {
    renderHtml: renderHtml,
  })

  let host
  let shows

  /* Initialize the component */

  onMount(() => {
    let url = new URL(window.location.href)
    let urlHostId = parseInt(url.searchParams.get('id'))
    if (urlHostId) hostid = urlHostId

    let endpoint_host = settings.api.endpoints.host
    let hostUrl = `${settings.api.url}/${endpoint_host}/${hostid}`
    fetchApi(hostUrl, processHostResponse)
    let endpoint_host_shows = settings.api.endpoints.show + `?host=${hostid}`
    let showsUrl = `${settings.api.url}/${endpoint_host_shows}`
    fetchApi(showsUrl, processShowsResponse)
  })

  /* Callback to process the API response */

  function processHostResponse(data) {
    host = data
    console.log('Host API response:', data)
  }
  function processShowsResponse(data) {
    shows = data
    console.log('Shows API response:', data)
  }
</script>

<style lang="scss">

</style>

<div class="card-container detail">
  {#if host}
    <HostCardBig {host} {shows} {urlShowDetail} {labelShows} />
  {:else}
    <Spinner />
  {/if}
</div>
