<script>
  import { onMount, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import Button, { Label } from '@smui/button'
  import { settings, fetchApi } from '../common/Common.svelte'
  import HostCardAvatar from '../cards/HostCardAvatar.svelte'
  // import Pagination from '../Pagination.svelte'

  export let urlHostDetail = undefined
  export let page = 0
  export let limit = 300
  export let labelShowMore = 'Show more'
  /* Nested Component Props */
  export let activeonly = false
  export let renderHtml = false // Attention: to avoid XSS attack vectors use with trusted API sources only
  // export let baseurl = undefined;
  // export let pagefirst = "First page";
  // export let pagelast = "Last page";
  // export let pageprev = "Previous page";
  // export let pagenext = "Next page";

  setContext('host', {
    renderHtml: renderHtml,
  })

  let hosts = []
  let count
  let active_hosts

  /* Initialize the component */
  onMount(() => {
    active_hosts = '?'
    if (activeonly) active_hosts = '?active=true&'
    let pagination = initPagination()
    let endpoint = settings.api.endpoints.host
    let url = `${settings.api.url}/${endpoint}${active_hosts}${pagination}`
    fetchApi(url, processResponse)
  })

  /* Callback to process the API response */
  function processResponse(data) {
    let newHosts = filterByName(data.results)
    hosts = hosts.concat(newHosts)
    count = data.count
    console.log('Hosts API response:', data)
  }

  /* Filters hosts by the first letter of its name */
  function filterByName(response) {
    // #TODO Such feature should be provided on AURA API side
    let results = []
    let url = new URL(window.location.href)
    let filter = url.searchParams.get('letter')
    if (filter) {
      filter = filter.slice(0, 1).toLowerCase()
      for (let i in response) {
        let showName = response[i].name
        if (showName && showName.slice(0, 1).toLowerCase() == filter)
          results.push(response[i])
      }
    } else {
      results = response
    }
    return results
  }

  /* Initialize pagination settings */
  function initPagination() {
    let url = new URL(window.location.href)
    let urlPage = url.searchParams.get('page')
    let urlLimit = url.searchParams.get('limit')
    if (urlPage) page = parseInt(urlPage)
    if (urlLimit) limit = parseInt(urlLimit)
    return `limit=${limit}&offset=${page * limit}`
  }

  /* Loads more results, if available */
  function loadMore() {
    page += 1
    let pagination = `limit=${limit}&offset=${page * limit}`
    let url = `${api}/${endpoint}${active_hosts}${pagination}`
    fetchApi(url, processResponse)
  }
</script>

<style lang="scss">
  .load-more {
    clear: both;
  }

  /* SMUI components need to be selected via global namespace */
  * :global(.load-more > button) {
    width: 100%;
  }
  * :global(.list .aura-card.host) {
    width: 100%;
    margin: 4px;
    float: left;
  }
</style>

<div class="aura-hosts">
  {#if hosts && hosts.length > 0}
    <div class="card-container list">
      {#each hosts as host}
        <HostCardAvatar {urlHostDetail} {host} displayOverlay={true} />
      {/each}
    </div>
  {:else}
    <Spinner />
  {/if}

  {#if count > limit}
    <div class="load-more">
      <Button variant="outlined" on:click={loadMore}>
        <Label>{labelShowMore}</Label>
      </Button>
    </div>
    <!-- <Pagination baseurl={baseurl} count={count} page={page} limit={limit} pagefirst={pagefirst} pagelast={pagelast} pageprev={pageprev} pagenext={pagenext}  /> -->
  {/if}
</div>
