<script lang="ts">
  import { addTrackStore } from '../stores.js'
  import Button, { Icon, Label } from '@smui/button'

  export let type: string = 'play' // "play" or "add"
  export let label: string = 'Play'
  export let track: { [id: string]: string }

  /* Messages the player to play the given episode */
  function pushTrack(track: { [id: string]: string }) {
    console.log('Pushing track to player queue:', track)
    if (type === 'play') track['play'] = 'true'
    if (track['cover']) track['cover_art_url'] = track['cover']
    addTrackStore.update(() => track)
  }
</script>

<style lang="scss">
  :global(.aura-button .aura-icon-small) {
    background-color: var(--mdc-theme-background);
  }
</style>

<template>
  {#if type === 'add'}
    <Button
      on:click={() => pushTrack(track)}
      variant="unelevated"
      class="aura-button add-playlist">
      <Icon class="aura-icon-small icon-playlist-add" />
      <Label>{label}</Label>
    </Button>
  {:else if type === 'play'}
    <Button
      on:click={() => pushTrack(track)}
      variant="unelevated"
      class="aura-button play-playlist">
      <Icon class="aura-icon-small icon-play" />
      <Label>{label}</Label>
    </Button>
  {:else}
    <p class="error">Error: Invalid button type '{type}'.</p>
  {/if}
</template>
