<script lang="ts">
  import { onMount, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import { settings, continuousFetch } from '../common/Common.svelte'
  import { openMediaPlayerPopup } from '../common/MediaPlayerOpener.svelte'
  import NowPlayingCard from '../cards/NowPlayingCard.svelte'

  export let refreshTime: number = 60
  export let prefixOnAir: string = 'LIVE'
  export let renderHtml = false

  setContext('player', {
    renderHtml: renderHtml,
  })

  let episode: { [id: string]: string } = {}

  /* Initialize the component */
  onMount(() => {
    let url = `${settings.api.url}/${settings.api.endpoints.programmeCurrent}`
    continuousFetch(url, refreshTime, processResponse)
  })

  /* Callback to process the API response */
  function processResponse(data: { [id: string]: string }) {
    console.log('CurrentShow API Response: ', data)
    /** #FIXME o94 Specific Workaround **/
    if (data.name == 'o94 musik') {
      data.name = 'o94 Musik'
      // data.note_title = "Random Order";
    }
    episode = data
  }
</script>

<style lang="scss">

</style>

<template>
  {#if episode}
    <NowPlayingCard {episode} {prefixOnAir} callbackButton={() => openMediaPlayerPopup(settings.mediaPlayer)} />
  {:else}
    <Spinner />
  {/if}
</template>
