<script>
  import { onMount } from 'svelte'
  import { SvelteToast, toast } from '@zerodevx/svelte-toast'

  export let onlinetext = 'Online'
  export let offlinetext = 'Offline'

  let firstUpdate = true
  let toastOnlineConfig = {
    theme: {
      '--toastBackground': '#48BB78',
      '--toastBarBackground': '#2F855A',
    },
  }
  let toastOfflineConfig = {
    theme: {
      '--toastBackground': '#F56565',
      '--toastBarBackground': '#C53030',
    },
  }

  function updateStatus() {
    let onlineStatus = navigator.onLine ? 'online' : 'offline'
    console.log('Online status changed: ' + onlineStatus)

    if (navigator.onLine) {
      if (!firstUpdate) toast.push(onlinetext, toastOnlineConfig)
    } else {
      toast.push(offlinetext, toastOfflineConfig)
    }
    firstUpdate = false
  }

  window.addEventListener('online', updateStatus)
  window.addEventListener('offline', updateStatus)

  /* Initialize the component */
  onMount(() => {
    updateStatus()
  })
</script>

<style>
  :global(:root) {
    --toastContainerTop: auto;
    --toastContainerRight: auto;
    --toastContainerBottom: 8rem;
    --toastContainerLeft: calc(50vw - 8rem);
  }
</style>

<SvelteToast options={{ reversed: true, intro: { y: 192 } }} />
