<script>
  export let baseurl = undefined
  export let count = undefined
  export let page = undefined
  export let limit = undefined
  export let pagefirst = 'First page'
  export let pagelast = 'Last page'
  export let pageprev = 'Previous page'
  export let pagenext = 'Next page'
</script>

<style>
  .pagination {
    display: block;
    width: 100%;
    margin: 64px 192px;
    clear: both;
  }

  ol {
    list-style: none;
    max-width: 100%;
    padding: 64px;
    overflow-wrap: break-word;
  }

  ol li {
    display: inline;
    margin: 4px;
  }

  ol li a.active {
    font-weight: bold;
  }
</style>

<div class="pagination">
  <ol>
    <li>
      {#if page > 0}
        <a href="{baseurl}?page={page - 1}&limit={limit}">{pageprev}</a>
      {:else}{pageprev}{/if}
    </li>
    <li>
      {#if page > 0}
        <a
          href="{baseurl}?page={0}&limit={limit}"
          class={0 == page ? 'active' : ''}>
          {pagefirst}
        </a>
      {:else}{pagefirst}{/if}
    </li>

    {#each Array(Math.floor(count / limit) + 1) as _, i}
      <li>
        <a
          href="{baseurl}?page={i}&limit={limit}"
          class={i == page ? 'active' : ''}>
          {i + 1}
        </a>
      </li>
    {/each}

    <li>
      {#if page >= 0}
        <a
          href="{baseurl}?page={Math.floor(count / limit)}&limit={limit}"
          class={count - 1 == page ? 'active' : ''}>
          {pagelast}
        </a>
      {:else}{pageprev}{/if}
    </li>

    <li>
      {#if page < Math.floor(count / limit)}
        <a href="{baseurl}?page={page + 1}&limit={limit}">{pagenext}</a>
      {:else}{pagenext}{/if}
    </li>
  </ol>
</div>
