<script>
  import { onMount, onDestroy, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import { customUrl } from '../stores.js'
  import Display from '../common/Display.svelte'
  import {
    settings,
    continuousFetch,
    formatTime,
  } from '../common/Common.svelte'

  export let liveurl = '/de/player/live' /* #FIXME o94 specific player */
  export let playerwindowsettings =
    'location=no,height=350,width=670,scrollbars=no,status=no'
  export let refreshTime = '60'
  export let renderHtml = false

  setContext('player', {
    renderHtml: renderHtml,
  })

  let currentShow

  /* Listen to event for playing a custom URL inside the player */
  let customAudioUrl = ''
  const unsubscribe = customUrl.subscribe((value) => (customAudioUrl = value))

  $: if (customAudioUrl) {
    console.log('Open player with custom audio URL', customAudioUrl)
    let playerUrl = 'n/a'

    /* FIXME Custom CBA Player URL processing required for now */
    if (customAudioUrl.startsWith('https://cba.fro.at/')) {
      console.log('Processing CBA URL...')
      let cbaRadioId = '62849'
      let cbaMediaId = customAudioUrl.split('/').slice(-1).pop()
      playerUrl = `https://o94.at/player/archive/${cbaRadioId}/${cbaMediaId}`
    }
    openPlayer(playerUrl, playerwindowsettings)
  }

  /* Initialize the component */
  onMount(() => {
    let url = `${settings.api.url}/${settings.api.endpoints.programmeCurrent}`
    continuousFetch(url, refreshTime, processResponse)
  })

  /* Destroy the component */
  onDestroy(unsubscribe)

  /* Callback to process the API response */
  function processResponse(data) {
    console.log('CurrentShow API Response: ', data)
    /** #FIXME o94 Specific Workaround **/
    if (data.name == 'o94 musik') {
      data.name = 'o94 Musik'
      // data.note_title = "Random Order";
    }
    /***************************/
    currentShow = data
  }

  /* Displays the currently playing track */
  function displayTrack(show) {
    let s = ''
    // #FIXME The "meta" element is very o94 specific
    // Requires adaptation to AURA Engine API spec
    if (show.meta != undefined) {
      let artist = show.meta.artist ? show.meta.artist : ''
      let title = show.meta.song ? show.meta.song : ''
      if (artist != '') s = artist
      if (artist != '' && title != '') s += ' - '
      if (title != '') s += title
    }
    return s
  }

  /* Open Player Window */
  window['openPlayer'] = (url, windowSettings) => {
    if (url == liveurl) customAudioUrl = ''
    let player = window.open(url, 'aura_player_popup', windowSettings)
    player.focus()
  }
</script>

<style>
  .player-wrapper {
    width: 100%;
  }

  .player-wrapper > .episode-start {
    text-align: left;
  }

  .player-wrapper > .episode-start,
  .player-wrapper > .episode-end {
    font-size: 0.8rem;
    float: left;
    width: 20%;
    text-transform: uppercase;
  }

  .player-wrapper > .currently-playing {
    float: left;
    width: 60%;
  }

  .button-play .episode-title {
    margin: 8px 2px 8px 0;
    line-height: 2em;
  }

  .button-play .episode-info,
  .button-play .track-service {
    line-height: 2em;
    margin: 8px 0 8px 0;
    color: var(--mdc-theme-primary);
  }

  .button-play .episode-info:before {
    content: '|';
    padding-right: 8px;
  }

  .currently-playing,
  .currently-playing .info-wrapper {
    text-align: center;
  }

  .episode-title {
    color: var(--mdc-theme-primary);
  }

  .episode-title:before {
    content: '▶';
    padding-right: 8px;
  }

  .episode-end {
    text-align: right;
  }
</style>

{#if currentShow}
  <div class="player-wrapper">
    <div class="episode-start">Live seit {formatTime(currentShow.start)}</div>
    <div class="currently-playing">

      <div id="player-description" class="sr-only">
        Zur Zeit spielt {currentShow.title}. Bei Klick auf den Button öffnet
        sich der Player in einem neuen Fenster
      </div>
      <button
        class="button-play"
        onclick="openPlayer('{liveurl}', '{playerwindowsettings}')"
        target="_blank"
        tabindex="0"
        aria-label="Play: {currentShow.title}"
        aria-describedby="player-description">
        <div class="info-wrapper">
          <span class="episode-title">
            <Display value={currentShow.name} />
          </span>
          <span class="episode-info">
            <Display value={currentShow.note_title} />
          </span>
          <span class="track-service">
            <span class="current-track">{displayTrack(currentShow)}</span>
          </span>
        </div>
      </button>

    </div>
    <div class="episode-end">bis {formatTime(currentShow.end)}</div>
  </div>
{:else}
  <Spinner />
{/if}
