<script>
  import { onMount, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import {
    settings,
    continuousFetch,
    isCurrentShow,
    fillEmptyTimeslots,
    createtVirtualEndings,
  } from '../common/Common.svelte'
  import TimeslotCard from '../cards/TimeslotCard.svelte'
  import ProgrammePaper from '../paper/ProgrammePaper.svelte'

  export let date = null // YYYY-MM-DD
  export let limitCount = 9
  export let startActive = false
  export let refreshTime = '60'
  export let view = 'card' // 'card' or 'paper'

  export let renderLinks = true
  export let renderHtml = false
  export let displayCatTitle = false
  export let displayCatIcons = false
  export let displayLangIcons = false
  export let urlEpisodeDetail = undefined
  export let urlShowDetail = undefined
  export let urlShowList = undefined
  export let urlDefaultFallbackShow =
    'https://o94.at/programm/Musiktracker_in-random-order'

  setContext('programme', {
    renderHtml: renderHtml,
  })

  let programme

  /* Initialize the component */
  onMount(() => {
    let endpoint = settings.api.endpoints.programmeDaily
    let url = new URL(window.location.href)

    // Filter by date
    if (date == null || date == '') {
      date = new Date().toISOString().slice(0, 10)
      let urlDate = url.searchParams.get('date')
      if (urlDate) date = urlDate
    } else if (date == 'today') {
      endpoint = settings.api.endpoints.programmeToday
      date = ''
    }

    let apiQuery = `${settings.api.url}/${endpoint}/${date}`
    continuousFetch(apiQuery, refreshTime, processResponse)
    console.log(`Initialized Programme v${settings.appVersion}`)
  })

  /* Callback to process the API response */
  function processResponse(data) {
    // Temporary workaround for o94
    // #TODO Missing timeslots should be populated server-site
    // @see https://gitlab.servus.at/aura/steering/-/issues/120
    data = fillEmptyTimeslots(data, urlDefaultFallbackShow)
    data = createtVirtualEndings(data)
    /********************************/
    data = limitItems(data, limitCount, 2)
    programme = data
    console.log('Programme API response:', data)
  }

  /* Limits the count of programme items, trying to have 2 leading items before the currently playing one */
  function limitItems(programme, limit, leadingCount) {
    if (programme.length <= limit || limit == 0 || limit == null)
      return programme

    // Calculate current index
    let currentIndex = 0
    for (let i = 0; i < programme.length; i++) {
      if (isCurrentShow(programme[i].start, programme[i].virtualEnd)) {
        currentIndex = i
        break
      }
    }
    // Calculate expected start index
    let startIndex = currentIndex - leadingCount

    // Return episodes starting from the currently active one
    if (startActive) startIndex = currentIndex

    if (startIndex < 0) startIndex = 0
    // Calculate end index, update start if required
    let endIndex = startIndex + limit
    if (endIndex > programme.length) {
      endIndex = programme.length
      startIndex = endIndex - limit
      if (startIndex < 0) startIndex = 0
    }

    return programme.slice(startIndex, endIndex)
  }
</script>

<style lang="scss">
  /* SMUI components need to be selected via global namespace */

  * :global(.is-active) {
    background-color: var(--mdc-theme-primary);
  }
  * :global(.aura-card.episode.is-active .timeslot-header) {
    color: var(--mdc-theme-on-primary);
    opacity: 0.77;
  }
  * :global(.aura-card.episode.is-active .episode-title),
  * :global(.aura-card.episode.is-active .fallback-title) {
    color: var(--mdc-theme-on-primary);
  }
</style>

{#if programme}
  {#if view == 'card'}
    <div class="card-container list">
      {#each programme as episode}
        <TimeslotCard
          {episode}
          {urlEpisodeDetail}
          {urlShowDetail}
          {urlShowList}
          {displayCatTitle}
          {displayCatIcons}
          {displayLangIcons} />
      {/each}
    </div>
  {:else if view == 'paper'}
    <div class="paper-container">
      <ProgrammePaper
        {programme}
        {urlEpisodeDetail}
        {urlShowDetail}
        {renderLinks} />
    </div>
  {:else}
    <div class="error">Invalid programme view type.</div>
  {/if}
{:else}
  <Spinner />
{/if}
