<script>
  import { onMount } from 'svelte'
  export let url = '/service-worker.js'

  console.log("About to register service worker located at '" + url + "'")
  /* Initialize the component */
  onMount(() => {
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register(url).then((reg) => {
          console.log('ServiceWorker registered.', reg)
        })
      })
    }
  })
</script>

<style>

</style>

<svelte:options tag="aura-service-worker" />
