<script>
  import { onMount, setContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import Select, { Option } from '@smui/select'
  import { settings, fetchApi } from '../common/Common.svelte'
  import ShowCardMedium from '../cards/ShowCardMedium.svelte'
  import CategoryHeading from '../elements/CategoryHeading.svelte'

  export let urlShowDetail = undefined
  export let limit = 300
  export let activeonly = true
  export let categoryId = undefined
  export let language = undefined
  export let labelAllShows = 'All shows'
  export let enableCategoryDropdown = false
  export let renderHtml = false

  setContext('show', {
    renderHtml: renderHtml,
  })
  setContext('category', {
    renderHtml: renderHtml,
  })

  let query
  let shows
  let allCategories
  let defaultCat = {
    id: null,
    name: labelAllShows,
    description: '',
  }
  let selectedCat
  $: selectedCat && loadShows(query)

  /* Initialize the component */
  onMount(() => {
    loadShows()
    loadCategories()
  })

  /* Loads the available categories */
  function loadCategories() {
    let apiQueryCats = `${settings.api.url}/${settings.api.endpoints.category}`
    fetchApi(apiQueryCats, processCatsResponse)
  }

  /* Loads the initial shows */
  function loadShows() {
    let url = new URL(window.location.href)
    let filterQuery = '?'

    // Query active shows only
    if (activeonly) filterQuery += 'active=true&'
    // Filter by category
    let urlCategory = url.searchParams.get('category')
    if (urlCategory) categoryId = urlCategory
    if (categoryId) filterQuery += `category=${categoryId}&`
    if (selectedCat) {
      if (selectedCat.id) {
        categoryId = null
        filterQuery += `category=${selectedCat.id}&`
      }
    }
    // Filter by language
    let urlLanguage = url.searchParams.get('language')
    if (urlLanguage) language = urlLanguage
    if (language) filterQuery += `language=${language}&`

    // Evaluate if we should list all
    if (!categoryId && !selectedCat) {
      selectedCat = defaultCat
    }

    query = filterQuery
    let endpointShows = settings.api.endpoints.show
    let apiUrl = `${settings.api.url}/${endpointShows}${filterQuery}limit=${limit}`
    fetchApi(apiUrl, processResponse)
  }

  /* Callback to process the API response */
  function processResponse(data) {
    let results = undefined
    results = filterByName(data.results)
    shows = results
    console.log('Show API response:', data)
  }

  /* Callback to process the categories API response */
  function processCatsResponse(data) {
    let catMap = []
    for (const cat of data) {
      catMap[cat.id] = cat
      if (cat.id == categoryId) {
        selectedCat = cat
      }
    }
    allCategories = data
    console.log('Cats API response:', data)
  }

  /* Filters shows by the first letter of its name */
  function filterByName(response) {
    // #TODO Such feature should be provided on AURA API side / review if that's still needed by o94?
    let results = []
    let url = new URL(window.location.href)
    let filter = url.searchParams.get('letter')
    if (filter) {
      filter = filter.slice(0, 1).toLowerCase()
      for (let i in response) {
        let showName = response[i].name
        if (showName && showName.slice(0, 1).toLowerCase() == filter)
          results.push(response[i])
      }
    } else {
      results = response
    }
    return results
  }
</script>

<style lang="scss">
  /* SMUI components need to be selected via global namespace */
  * :global(.aura-card.show) {
    width: 100%;
    float: left;
  }
  * :global(.show-content) {
    padding: 1rem;
  }
  * :global(.title) {
    margin: 0;
  }
  * :global(.short-description) {
    margin: 0;
    color: #888;
  }
</style>

<template>
  <div class="show-overview">
    {#if selectedCat}
      <CategoryHeading category={selectedCat} {language} headingLevel={1} />
    {/if}

    {#if allCategories && enableCategoryDropdown}
      <Select
        class="shaped-outlined"
        variant="outlined"
        bind:value={selectedCat}>
        <Option value={defaultCat}>{defaultCat.name}</Option>
        {#each allCategories as cat}
          <Option value={cat}>{cat.name}</Option>
        {/each}
      </Select>
    {/if}

    <div class="card-container list">
      {#if shows}
        {#each shows as show}
          <ShowCardMedium {show} {urlShowDetail} />
        {/each}
      {:else}
        <Spinner />
      {/if}
    </div>
  </div>
</template>
