<script>
  import { onMount } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import { settings, fetchApi } from '../common/Common.svelte'

  export let labelTitle = 'Track Service'

  let tracks
  // let currentDate = "";

  /* Initialize the component */
  onMount(() => {
    fetchApi(
      settings.api.url + '/' + settings.api.endpoints.trackservice,
      processResponse,
    )
    console.log(`Initialized TrackService v${settings.appVersion}`)
  })

  /* Callback to process the API response */
  function processResponse(data) {
    tracks = data
    console.log('TrackService API response:', data)
  }

  // function getDate(item) {
  // 	let track_date = "";
  // 	if (item.track_start != null)
  // 		track_date = item.track_start.split('T')[0];

  // 	if (currentDate != track_date) {

  // 		currentDate = track_date;
  // 		let date = new Date(currentDate);
  // 		let options = {
  // 			weekday: "long", year: "numeric", month: "short",
  // 			day: "numeric"
  // 		};
  // 		return date.toLocaleDateString("de-at", options);
  // 	} else {
  // 		return "";
  // 	}
  // }

  // function getTime(item) {
  // 	let date = new Date(item.track_start);
  // 	let options = {
  // 		hour: "2-digit", minute: "2-digit"
  // 	};
  // 	return date.toLocaleTimeString("de-at", options);
  // }

  // function isActive(item) {
  // 	if (item.track_duration != null && parseInt(item.track_duration) > 0) {
  // 		let startDate = new Date(item.track_start);
  // 		let endDate = new Date(startDate.getTime());
  // 		endDate.setSeconds(endDate.getSeconds() + parseInt(item.track_duration));
  // 		let now = new Date();

  // 		if (startDate < now && now < endDate) {
  // 			return "active-track";
  // 		} else {
  // 			return "";
  // 		}
  // 	} else {
  // 		return "";
  // 	}
  // }

  // function printDuration(item) {
  // 	if (item.track_duration != null && parseInt(item.track_duration) > 0) {
  // 		return "("+formatTime(item.track_duration)+")";
  // 	} else {
  // 		return "";
  // 	}
  // }

  // function formatTime(seconds) {
  // 	if (seconds != null && Number.isInteger(seconds)) {
  // 		let d = new Date(null);
  // 		d.setSeconds(seconds);

  // 		let s;
  // 		if (seconds > 3600)
  // 			s = d.toISOString().substr(11, 8);
  // 		else
  // 			s = d.toISOString().substr(14, 5);
  // 		return s;
  // 	}
  // 	return "";
  // }
</script>

<style lang="scss">

</style>

<div class="card-container list">
  <h1>{labelTitle}</h1>
  {#if tracks}
    {#each tracks as track}
      <!-- #TODO Implement Track Card -->
      {track}
      <br />
    {/each}
  {:else}
    <Spinner />
  {/if}
</div>
