
/* Cards */

.aura-card {
	float: left;
	margin: 8px;
	width: calc(100% - 16px);
}

/* Headings & Font */

a {
	text-decoration: none;
}
a.card-link {
    width: 100%;
    text-decoration: none;
}

/* Colors */

.invert {
	filter: invert(100%);
}

/* Icons */

.aura-icons {
	display: block;
	float: left;
	width: 64px;
	height: 64px;
	margin-right: 8px;
}
.aura-icons > * {
	display: block;
	width: 100%;
	height: 100%;
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
}
.aura-icon,
.aura-icon-small {
	background-position: center center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	-webkit-mask-position: center;
    mask-position: center;
	-webkit-mask-size: 32px;
    mask-size: 32px;
}
.aura-icon-small {
	width: 24px;
	height: 24px;
	-webkit-mask-size: 24px;
    mask-size: 24px;
}

.icon-play-circle {
    -webkit-mask-image: url('/assets/play-circle.svg');
	mask-image: url('/assets/play-circle.svg');

}
.icon-pause-circle {
    -webkit-mask-image: url('/assets/pause-circle.svg');
    mask-image: url('/assets/pause-circle.svg');

}
.icon-now {
	-webkit-mask-image: url('/assets/sine-wave.svg');
    mask-image: url('/assets/sine-wave.svg');

}
.icon-programme {
	-webkit-mask-image: url('/assets/timetable.svg');
    mask-image: url('/assets/timetable.svg');

}
.icon-playlist {
	-webkit-mask-image: url('/assets/playlist-music.svg');
    mask-image: url('/assets/playlist-music.svg');

}
.icon-playlist-add {
	-webkit-mask-image: url('/assets/playlist-plus.svg');
	mask-image: url('/assets/playlist-plus.svg');

}
.icon-play {
	-webkit-mask-image: url('/assets/play.svg');
    mask-image: url('/assets/play.svg');
}
.icon-volume-high {
	-webkit-mask-image: url('/assets/volume-high.svg');
    mask-image: url('/assets/volume-high.svg');
}

/* Buttons */

button {
	padding: 12px;
	margin: 12px;
}

/* Screen Reader */

.sr-only {
	display: none;
}

/* Misc */

.mdc-layout-grid {
	width: 100%;
}
.language-key {
	text-transform: uppercase;
}


