<script context="module">
  import * as localJsonConfig from '../../config/settings.json'

  /* Global settings */
  export let settings = localJsonConfig

  /* Encode strings with extended character set */
  export function encodeUTF8(value) {
    return btoa(
        String.fromCharCode(
            ...new TextEncoder().encode(value)
        )
    );
  }

  /* Decode strings with extended character set */
  export function decodeUTF8(value) {
    const value_latin1 = atob(value);
    return new TextDecoder().decode(
        Uint8Array.from(
            { length: value_latin1.length },
            (_element, index) => value_latin1.charCodeAt(index)
        )
    )
  }

  /* Fetches data from the passed URL and passes it to the provided callback */
  export async function fetchApi(url, callback) {
    console.log('API Query: ' + url)
    await fetch(url)
      .then((response) => {
        if (response.status >= 400 && response.status < 600) {
          throw new Error(`${response.status} | Bad response from server`)
        }
        return response.json()
      })
      .then((data) => callback(data))
  }

  /* Continuously fetch data from the API */
  export function continuousFetch(url, refreshTime, callback) {
    fetchApi(url, callback)
    const interval = setInterval(() => {
      fetchApi(url, callback)
    }, refreshTime * 1000)
    return () => {
      clearInterval(interval)
    }
  }

  /** Build an episode image metadata object based on show and episode data*/
  export function getEpisodeImageData(show, episode) {
    let src = ''
    let alt = ''
    if (episode.note?.image) {
      src = episode.note.image
      alt = `Image for episode ${episode.note.title}`
    } else if (show?.image) {
      src = show.image
      alt = `Image of ${show.name}`
    } else if (show?.logo) {
      src = show.log
      alt = `Logo of ${show.name}`
    }
    return { src: src, alt: alt }
  }

  /** Checks if the given episode has a title set, indicating it's populated at all */
  export function hasEpisodeTitle(episode) {
    // #FIXME "episode.note_title" should be "episode.note.title"
    // @see https://gitlab.servus.at/aura/steering/-/issues/97
    // if (episode.note && episode.note.title && episode.note.title.trim())
    if (episode.note_title && episode.note_title.trim()) return true
    return false
  }

  /** Check if the episode has a media file available */
  export function hasEpisodeMedia(episode) {
    if (episode.note && (episode.note.audio_url || episode.note.cba_id))
      return true
    return false
  }

  /** Loads the given URL */
  export function openLink(url) {
    window.location.href = url
  }

  /* Checks if the given date string is representing the current day */
  export function isToday(dateStr) {
    let date = new Date(dateStr)
    let today = new Date()
    if (date.setHours(0, 0, 0, 0) == today.setHours(0, 0, 0, 0)) return true
    return false
  }

  /* Formats a date object as String for passing to API endpoints */
  export function formatApiDate(date) {
    return (
      date.getFullYear() +
      '-' +
      ('0' + (date.getMonth() + 1)).slice(-2) +
      '-' +
      ('0' + date.getDate()).slice(-2)
    )
  }

  /* Displays only the date part of a date-time string */
  export function formatDate(date, includeDayName) {
    date = new Date(date)
    let dateString =
      ('0' + date.getDate()).slice(-2) +
      '.' +
      ('0' + (date.getMonth() + 1)).slice(-2) +
      '.' +
      date.getFullYear()
    if (includeDayName) {
      let dayName = date.toLocaleDateString(getLocale(), { weekday: 'long' })
      dateString = dayName + ', ' + dateString
    }
    return dateString
  }

  /* Double-digit format for time */
  export function formatTime(date) {
    date = new Date(date)
    let hours = date.getHours().toString()
    let minutes = date.getMinutes().toString()
    hours = hours.padStart(2, '0')
    minutes = minutes.padStart(2, '0')
    return `${hours}:${minutes}`
  }

  /* Get user locale */
  export function getLocale() {
    let userLang = navigator.language || navigator.userLanguage
    return userLang
  }

  /* Validates if the dates match the currently playing item */
  export function isCurrentShow(dateStart, dateEnd) {
    let now = new Date()
    dateStart = new Date(dateStart)
    dateEnd = new Date(dateEnd)
    if (dateStart < now && now < dateEnd) return true
    else return false
  }

  /* Shuffles an array based on the Fisher–Yates shuffle algorithm */
  export function shuffle(array) {
    let counter = array.length
    while (counter > 0) {
      let index = Math.floor(Math.random() * counter)
      counter--
      let temp = array[counter]
      array[counter] = array[index]
      array[index] = temp
    }
    return array
  }

  /*
      Load external CSS into a HTML5 Web Component

      root: RootElement to attach the CSS DOM Element to.
      Bind a component to the root like this:

        <main bind:this={rootElement}></main>
        ...
        let rootElement;
    */
  export function loadExternalCss(root, file) {
    let files = []
    if (file.includes('|')) {
      files = file.split('|')
    } else {
      files.push(file)
    }

    for (let src of files) {
      let element = document.createElement('link')
      element.setAttribute('rel', 'stylesheet')
      element.setAttribute('type', 'text/css')
      element.setAttribute('href', src)
      root.appendChild(element)
      console.log("Loading CSS from '" + src + "'")
    }
  }

  /*********** o94 Hacks ***********/

  /* Creates virtual timeslots for empty timeslots (temporary o94 workaround) */
  // #TODO missing timeslots should be populated server-site
  // @see steering#97
  export function fillEmptyTimeslots(programme, urlDefaultFallbackShow) {
    let newProgramme = []
    for (let i = 0; i < programme.length; i++) {
      newProgramme.push(programme[i])
      if (i < programme.length - 1) {
        if (new Date(programme[i].end) < new Date(programme[i + 1].start)) {
          let virtualTimeslot = {
            id: '-1',
            customUrl: urlDefaultFallbackShow,
            start: programme[i].end,
            end: programme[i + 1].start,
            category: null,
            title: 'Random Order',
            summary: '',
            note_title: 'o94 Musik',
          }
          newProgramme.push(virtualTimeslot)
        }
      }
    }
    return newProgramme
  }

  /* The end times from o94 prog-info are broken, therefore create virtual end times based on start times of the following item */
  export function createtVirtualEndings(programme) {
    for (let i = 0; i < programme.length; i++) {
      if (i < programme.length - 1)
        programme[i].virtualEnd = programme[i + 1].start
      else programme[i].virtualEnd = programme[i].end
    }
    return programme
  }
</script>
