<script>
  import { formatDate, formatTime } from '../common/Common.svelte'

  export let start = undefined
  export let end = undefined
  export let displayTimeOnly = false
  export let displayEnd = false
</script>

<style lang="scss">

</style>

<template>
  <time class="time-start" datetime={start}>
    {#if !displayTimeOnly}{formatDate(start, true)}{/if}
    {formatTime(start)}
  </time>
  {#if end}
    <time class="time-end" datetime={end}>
      {#if displayEnd}- {formatTime(end)}{/if}
    </time>
  {/if}
</template>
