<script lang="ts">
  export let value: string = ''
  export let url: string = ''
  export let renderHtml: boolean = false
  export let renderLinks: boolean = true // Identifies links and creates <a> tags; TODO should be done by dashboard editor, see dashboard#116
  export let renderCR: boolean = false // Identifies carriage returns and creates <br/> tags; TODO should be done by dashboard editor, see dashboard#116

  /* Regular Expression to parse an URL */
  const RegexUrl = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])(?![^<>]*>(?:(?!<\/?a\b).)*<\/a>)/gi

  /* Formats a property for printing */
  function displayString(text: string) {
    if (!text) text = ''
    if (renderLinks) text = replaceUrls(text)
    if (renderCR) text = replaceCR(text)
    return text
  }

  function replaceUrls(text: string) {
    let regex = new RegExp(RegexUrl, 'gim')
    return text.replaceAll(regex, '<a href="$&">$&</a>')
  }

  function replaceCR(text: string) {
    return text.replace(/(\r\n|\n|\r)/g, '<br />')
  }
</script>

<style lang="scss">

</style>

<template>
  {#if url}
    <a href={url}>
      {#if renderHtml}
        {@html displayString(value)}
      {:else}{displayString(value)}{/if}
    </a>
  {:else if renderHtml}
    {@html displayString(value)}
  {:else}{displayString(value)}{/if}
</template>
