<script context="module" lang="ts">
  // declare var auraOpenMediaPlayer: Function
  declare global {
    interface Window {
      auraOpenMediaPlayer?: Function
    }
  }

  import { encodeUTF8 } from '../common/Common.svelte'


  /* Open the media player popup window */
  window.auraOpenMediaPlayer = (
    popupUrl: string,
    popupSettings: string,
    track?: string,
    play?: boolean,
  ) => {
    if (track) {
      popupUrl += `?track=${track}`
      if (play) popupUrl += `&play=true`
    }

    let player = window.open(popupUrl, 'aura_media_player_popup', popupSettings)
    console.log("Media Player pop-up created", player)

    if (player) {
      player.focus()
    } else
      console.log(
        'Error while creating player pop-up. Are pop-ups blocked for this page?',
      )
  }

  /* Call the window function to open media player popup */
  export function openMediaPlayerPopup(
    mediaPlayerSettings: any,
    trackData?: string,
    play?: boolean,
  ) {
    let popupUrl = mediaPlayerSettings.popupUrl
    let popupSettings = mediaPlayerSettings.popupSettings
    let track: string = ""
    if (trackData)
      track = encodeUTF8(JSON.stringify(trackData))
    if (window.auraOpenMediaPlayer) {
      window.auraOpenMediaPlayer(popupUrl, popupSettings, track, play)
    } else
      console.log(
        "Error: Theres is no function 'window.auraOpenMediaPlayer' available",
      )
  }
</script>

<script lang="ts">

</script>
