<style lang="scss">
  .loading {
    width: 100%;
    text-align: center;
  }
  .aura-spinner {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .aura-spinner div {
    position: absolute;
    border: 4px solid gray;
    opacity: 1;
    border-radius: 50%;
    animation: aura-spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .aura-spinner div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes aura-spinner {
    0% {
      top: 18px;
      left: 18px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 36px;
      height: 36px;
      opacity: 0;
    }
  }
</style>

<div class="loading">
  <div class="aura-spinner">
    <div />
    <div />
  </div>
</div>
