<script>
  import Paper, { Content } from '@smui/paper'
  import Display from '../common/Display.svelte'
  import DateTime from '../common/DateTime.svelte'
  import { isCurrentShow, hasEpisodeTitle } from '../common/Common.svelte'

  export let programme = undefined
  export let urlEpisodeDetail = undefined
  export let urlShowDetail = undefined
  export let renderLinks = true
  export let renderHtml = false
</script>

<style lang="scss">
  .episode-tagline {
    font-size: 0.9em;
    color: var(--mdc-theme-secondary);
  }
  .episode-time {
    vertical-align: baseline;
  }
  .episode.active {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-text-secondary-on-background);
  }

  .episode.active > .episode-time:after {
    content: 'NOW';
    font-weight: bold;
  }

  /* sub-components need to be selected via global namespace */

  :global(.episode.active a) {
    color: var(--mdc-theme-text-primary-on-background);
  }
  * :global(.episode.active > .episode-time .time-start) {
    display: none;
  }
  * :global(.episode-time .time-end) {
    display: none;
  }
</style>

<template>
  <Paper square>
    <Content>
      <table class="programme-paper">
        <tbody>
          {#each programme as episode}
            <tr
              class="episode episode-id-{episode.id}
              {isCurrentShow(episode.start, episode.virtualEnd) ? 'active' : ''}">
              <td class="episode-time">
                <DateTime
                  start={episode.start}
                  end={episode.end}
                  displayEnd={false}
                  displayTimeOnly={true} />
              </td>
              <td class="episode-details">
                <div class="details-wrapper">
                  <div class="episode-title">
                    {#if episode.customUrl}
                      <Display
                        value={episode.note_title}
                        url={renderLinks ? episode.customUrl : null}
                        {renderHtml} />
                    {:else if hasEpisodeTitle(episode)}
                      <!-- #FIXME "emmission_ID" should be "timeslot_id", "episode_id" or "id" only (@see steering#97) -->
                      <Display
                        value={episode.title}
                        url={renderLinks ? urlEpisodeDetail + episode.emission_ID : null}
                        {renderHtml} />
                    {:else}
                      <Display
                        value={episode.show ? episode.show.name : ''}
                        url={renderLinks ? urlShowDetail + episode.show.slug : null}
                        {renderHtml} />
                    {/if}
                  </div>
                  <div class="episode-tagline">
                    <Display value={episode.summary} {renderHtml} />
                  </div>
                </div>
                <div class="episode-info">
                  <p>
                    <Display value={episode.note_title} {renderHtml} />
                  </p>
                </div>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </Content>
  </Paper>
</template>
