<script lang="ts">
  import { getContext } from 'svelte'
  import Ripple from '@smui/ripple'
  import Card, { Content } from '@smui/card'
  import CategoryHeading from '../elements/CategoryHeading.svelte'

  export let category: any

  const context: { [name: string]: any } = getContext('category')
  const urlShowList = context.urlShowList
</script>

<style lang="scss">
  a {
    color: var(--mdc-theme-text-primary-on-background);
  }
  /* SMUI components need to be selected via global namespace */
</style>

<template>
  <a href={urlShowList + '?category=' + category.id}>
    <Card class="aura-card category cat-{category.id}">
      <div use:Ripple={{ surface: true }}>
        <Content class="category-content">
          <CategoryHeading headingLevel={2} {category} />
        </Content>
      </div>
    </Card>
  </a>
</template>
