<script>
  import { onMount, getContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import Ripple from '@smui/ripple'
  import Card, { Content } from '@smui/card'
  import Display from '../common/Display.svelte'
  import DateTime from '../common/DateTime.svelte'
  import { hasEpisodeMedia } from '../common/Common.svelte'

  export let episode = undefined
  export let urlEpisodeDetail = undefined

  const context = getContext('episode')
  const renderHtml = context.renderHtml

  /* Initialize the component */
  onMount(() => {})

  function hasContent(episode) {
    if (episode.note && episode.note.title) {
      if (episode.note.title.trim()) return true
      else return false
    }
    return false
  }
</script>

<style lang="scss">

</style>

<template>
  {#if episode}
    <Card
      variant="outlined"
      class="aura-card episode {hasEpisodeMedia(episode) ? 'has-media' : ''}
      {hasContent(episode) ? 'has-content' : ''}">

      {#if hasContent(episode)}
        <div use:Ripple={{ surface: true }}>
          <a href={urlEpisodeDetail}>
            <Content class="card-title">
              <DateTime start={episode.start} end={episode.end} />
              {#if hasContent(episode)}
                <Display value={episode.note.title} {renderHtml} />
              {/if}
            </Content>
          </a>
        </div>
      {:else}
        <Content class="card-title">
          <DateTime start={episode.start} end={episode.end} />
        </Content>
      {/if}
    </Card>
  {:else}
    <Spinner />
  {/if}
</template>
