<script>
  import { getContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import Card, { Content } from '@smui/card'
  import LayoutGrid, { Cell } from '@smui/layout-grid'
  import Display from '../common/Display.svelte'
  import DateTime from '../common/DateTime.svelte'
  import EpisodeImage from '../elements/EpisodeImage.svelte'
  import EpisodePlayMedia from '../elements/EpisodePlayMedia.svelte'

  export let embedCbaPlayer = true
  export let show = undefined
  export let episode = undefined
  export let urlShowDetail = undefined
  export let labelPlay = undefined
  export let labelLinkArchive = undefined

  const context = getContext('episode')
  const renderHtml = context.renderHtml
</script>

<style lang="scss">
  .show-ref {
    width: 100%;
    height: 32px;
    margin-left: 16px;
    font-size: 1.2em;
  }

  /* SMUI components need to be selected via global namespace */

  * :global(.action-header) {
    height: 10px;
    margin-left: 10px;
  }
  * :global(.media),
  * :global(.episode-title) {
    padding-top: 0;
    padding-bottom: 0;
  }
  * :global(.episode-media) {
    padding-left: 0;
  }
</style>

<template>
  {#if episode}
    <Card class="aura-card episode">
      <LayoutGrid>
        <Cell span={4}>
          <a href={urlShowDetail + show.slug}>
            <EpisodeImage {episode} {show} />
          </a>
        </Cell>

        <Cell span={8}>
          <div class="card-cell cell-right">
            <a href={urlShowDetail + show.slug}>
              <div class="show-ref">{show.name}</div>
            </a>
            <Content class="mdc-typography--headline6 episode-title">
              <h2 style="margin: 0;">
                <Display value={episode.note.title} {renderHtml} />
              </h2>
            </Content>

            {#if episode.note.summary != null}
            <Content class="mdc-typography--body2 summary emphasize">
                <Display value={episode.note.summary} {renderHtml} />
            </Content>
            {/if}

            <Content class="mdc-typography--body2 timeslot emphasize">
              <DateTime
                start={episode.start}
                end={episode.end}
                displayEnd={true} />
            </Content>

            <EpisodePlayMedia
              {show}
              {episode}
              {labelPlay}
              {labelLinkArchive}
              {embedCbaPlayer} />
          </div>
        </Cell>
      </LayoutGrid>

      <Content class="mdc-typography--body2 content">
        {#if episode.note.content != null}
          <Display
            value={episode.note.content.replace(/\n/g, '<br />')}
            {renderHtml}
            renderLinks={true} />
        {/if}
      </Content>
    </Card>
  {:else}
    <Spinner />
  {/if}
</template>
