<script>
  import { onMount, getContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import Card, { Content } from '@smui/card'
  import LayoutGrid, { Cell } from '@smui/layout-grid'
  import List, { Item } from '@smui/list'
  import Display from '../common/Display.svelte'
  import HostCardAvatar from './HostCardAvatar.svelte'
  import ShowCardSmall from './ShowCardSmall.svelte'

  export let labelShows = 'Shows'
  export let host = undefined
  export let shows = undefined
  export let urlShowDetail = undefined

  const context = getContext('host')
  const renderHtml = context.renderHtml

  /* Initialize the component */
  onMount(() => {})
</script>

<style lang="scss">
  /* SMUI components need to be selected via global namespace */
  * :global(.show-list-small) {
    width: calc(100% - 16px);
  }
  * :global(.show-list-small .aura-card.show) {
    background-color: var(--mdc-theme-surface);
  }
  * :global(.show-list-small .card-media-square) {
    width: 128px;
    height: 72px;
  }
</style>

<template>
  {#if host}
    <Card class="aura-card host">
      <LayoutGrid>
        <Cell span={8}>
          <div class="card-cell cell-left">
            <h1 class="mdc-typography--headline6" style="margin: 0;">
              <Display value={host.name} {renderHtml} />
            </h1>

            <Content class="mdc-typography--body2 bio">
              {#if host.biography != null}
                <Display value={host.biography} {renderHtml} />
              {/if}
            </Content>

            <Content component={List} class="urls">
              {#if host.cba_url != null}
                <Item class="cba">
                  CBA:
                  <a href={host.cba_url}>{host.cba_url}</a>
                </Item>
              {/if}
              {#if host.website != null && host.website != 'NULL'}
                <Item class="website">
                  Website:
                  <a href={host.website}>{host.website}</a>
                </Item>
              {/if}
              {#if host.twitter_url != null}
                <Item class="twitter">
                  Twitter:
                  <a href={host.twitter_url}>{host.twitter_url}</a>
                </Item>
              {/if}
              {#if host.instagram_url != null}
                <Item class="instagram">
                  Instagram:
                  <a href={host.instagram_url}>{host.instagram_url}</a>
                </Item>
              {/if}
              {#if host.youtube_url != null}
                <Item class="youtube">
                  YouTube:
                  <a href={host.youtube_url}>{host.youtube_url}</a>
                </Item>
              {/if}
              {#if host.facebook_url != null}
                <Item class="facebook">
                  Facebook:
                  <a href={host.facebook_url}>{host.facebook_url}</a>
                </Item>
              {/if}
              {#if host.linkedin_url != null}
                <Item class="linkedin">
                  LinkedIn:
                  <a href={host.linkedin_url}>{host.linkedin_url}</a>
                </Item>
              {/if}
            </Content>

          </div>
        </Cell>
        <Cell span={4}>
          <div class="card-cell cell-right">
            <div class="card-container detail">
              <HostCardAvatar {host} />
            </div>
          </div>
        </Cell>
      </LayoutGrid>

      <Content>
        {#if shows}
          <div class="show-section">
            <h2>{labelShows}</h2>
            <div class="show-list-small card-container list contained">
              {#each shows as show}
                <ShowCardSmall {show} {urlShowDetail} />
              {/each}
            </div>
          </div>
        {/if}
      </Content>
    </Card>
  {:else}
    <Spinner />
  {/if}
</template>
