<script>
  import { getContext } from 'svelte'
  import Ripple from '@smui/ripple'
  import Card, { Media } from '@smui/card'
  import Display from '../common/Display.svelte'

  export let host = undefined
  export let urlHostDetail = undefined
  export let displayOverlay = false

  const context = getContext('host')
  const renderHtml = context.renderHtml
</script>

<style lang="scss">
  .card-media-overlay {
    background-color: var(--mdc-theme-on-secondary);
    border: 0;
    border-radius: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 8px 6px 8px;
    margin: 0;
    /* width: 100%; */
    opacity: 0.9;
  }
  .name {
    font-size: 1.2rem;
    padding-right: 4px;
  }
  .aura-card .card-media-square > .card-media-overlay .name {
    white-space: break-spaces;
  }
  .card-media-overlay * {
    margin: 0;
  }
</style>

<template>
  <Card class="aura-card host">
    {#if urlHostDetail}
      <a href={urlHostDetail + host.id}>
        <div use:Ripple={{ surface: true }}>
          <Media
            class="card-media-square mdc-card--outlined host-avatar"
            aspectRatio="square"
            style={host.image ? 'background-image:url(' + host.image + ');' : ''}>
            {#if displayOverlay == true}
              <div class="card-media-overlay">
                <span class="name mdc-typography--headline6">
                  <Display value={host.name} {renderHtml} />
                </span>
              </div>
            {/if}
          </Media>
        </div>
      </a>
    {:else}
      <Media
        class="card-media-square mdc-card--outlined host-avatar"
        aspectRatio="square"
        style={host.image ? 'background-image:url(' + host.image + ');' : ''}>
        {#if displayOverlay == true}
          <div class="card-media-overlay">
            <span class="name mdc-typography--headline6">
              <Display value={host.name} {renderHtml} />
            </span>
          </div>
        {/if}
      </Media>
    {/if}
  </Card>
</template>
