<script lang="ts">
  import { getContext } from 'svelte'
  import Card, { Content } from '@smui/card'
  import Button, { Icon, Label } from '@smui/button'
  import { hasEpisodeTitle } from '../common/Common.svelte'
  import Display from '../common/Display.svelte'
  import DateTime from '../common/DateTime.svelte'

  export let episode: { [id: string]: string } = {}
  export let prefixOnAir: string
  export let callbackButton: Function

  const context: { [name: string]: any } = getContext('player')
  const renderHtml: boolean = context.renderHtml
</script>

<style lang="scss">
  /* SMUI components need to be selected via global namespace */
  :global(.aura-card.media-player-widget .button-play) {
    width: 100%;
  }
  :global(.aura-card.media-player-widget
      .play-icon-delim
      .aura-icon-small.icon-play) {
    background-color: var(--mdc-theme-primary);
    margin-left: 8px;
  }
  :global(.aura-card.media-player-widget .widget-content) {
    padding: 0;
  }
</style>

<template>
  <Card class="aura-card media-player-widget">
    <Content class="widget-content">
      <div id="player-description" class="sr-only">
        Click the button to open the media player in a popup window.
      </div>
      <Button
        on:click={() => callbackButton()}
        class="button-play"
        target="_blank"
        tabindex={0}
        aria-label="Play: {episode.note_title}"
        aria-describedby="player-description">
        <Label>

          <span class="lead-on-air">
            {prefixOnAir}
            <DateTime
              start={episode.start}
              end={episode.end}
              displayTimeOnly={true}
              displayEnd={true} />
            <span class="play-icon-delim">
              <Icon class="aura-icon-small icon-play" />
            </span>
          </span>

          <!-- #FIXME show name should be something like "show_name" or "episode.show.name" in API (@see steering#97) -->
          {#if episode.name}
            <span class="episode-show-name">
              <Display value={episode.name} {renderHtml} />
            </span>
            {#if hasEpisodeTitle(episode)}&nbsp;-&nbsp;{/if}
          {/if}
          {#if hasEpisodeTitle(episode)}
            <span class="episode-title">
              <Display value={episode.note_title} {renderHtml} />
            </span>
          {/if}

        </Label>
      </Button>
    </Content>
  </Card>
</template>
