<script>
  import { onMount, getContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import Card, { Content, PrimaryAction, Media } from '@smui/card'
  import Display from '../common/Display.svelte'

  export let show = undefined
  export let urlShowDetail = undefined

  const context = getContext('show')
  const renderHtml = context.renderHtml

  /* Initialize the component */
  onMount(() => {})
</script>

<style lang="scss">
  h2,
  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
</style>

<template>
  {#if show}
    <Card class="aura-card show">
      <a class="card-link" href={urlShowDetail + show.slug}>
        <PrimaryAction>
          <Content class="show-content">
            <h2 class="mdc-typography--headline2 title">
              <Display value={show.name} {renderHtml} />
            </h2>
            <h3 class="mdc-typography--subtitle2 short-description">
              {#if show.short_description != null}
                <Display value={show.short_description} {renderHtml} />
              {:else}&nbsp;{/if}
            </h3>
          </Content>
          <Media
            class="card-media-16x9"
            aspectRatio="16x9"
            style={show.image ? 'background-image:url(' + show.image + ');' : ''} />
        </PrimaryAction>
      </a>
    </Card>
  {:else}
    <Spinner />
  {/if}
</template>
