<script>
  import { onMount, getContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import LayoutGrid, { Cell } from '@smui/layout-grid'
  import Card, { Content } from '@smui/card'
  import Button, { Label } from '@smui/button'
  import Display from '../common/Display.svelte'
  import ShowChips from '../elements/ShowChips.svelte'
  import HostCardAvatar from './HostCardAvatar.svelte'
  import EpisodeCardSmall from './EpisodeCardSmall.svelte'
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  export let show = undefined
  export let episodes = undefined
  export let urlHostDetail = undefined
  export let urlEpisodeDetail = undefined
  export let urlShowList = undefined
  export let labelEpisodes = undefined
  export let labelCurrentNone = undefined
  export let labelShowMore = 'Show all'
  export let hasMoreEpisodes = undefined
  export let displayCatTitle = undefined
  export let displayCatIcons = undefined
  export let displayLangIcons = undefined

  const context = getContext('show')
  const renderHtml = context.renderHtml


  function eventShowMore() {
    dispatch('showMore')
  }

  /** TODO Replace custom merge of o94 hosts with AURA implementation */
  let other_hosts = undefined
  function transformToHosts(show) {
    if (!show.additional_contributors)
      return null
    let ac = show.additional_contributors
    let hostNames = ac.split(", ")
    let hosts = Array()
    for (let hn of hostNames)
      hosts.push({ 'name': hn })
    return hosts
  }

  /* Initialize the component */
  onMount(() => {
    /** TODO Replace custom merge of o94 hosts with AURA implementation */
    other_hosts = transformToHosts(show)
  })
</script>

<style lang="scss">
  /* SMUI components need to be selected via global namespace */
  * :global(.header) {
    padding: 1rem 1rem 0 1rem;
  }
  * :global(.subtitle) {
    margin-top: 0;
  }
  * :global(.image-content) {
    padding: 0;
  }
  * :global(.show-image) {
    width: 100%;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  * :global(.host-list-small > .aura-card.host) {
    width: 100px;
    height: 100px;
    margin: 4px;
    float: left;
  }
  * :global(.host-list-small > .aura-card.host h2) {
    font-size: 0.8rem;
  }
  * :global(.episode-section h2.title-episode-list) {
    margin-top: 0;
  }
  * :global(.highlight .aura-card.episode) {
    background-color: var(--mdc-theme-primary);
  }
  * :global(.highlight .aura-card.episode a) {
    color: var(--mdc-theme-text-primary-on-background);
  }
  *
    :global(.episode-list-small
      :not(.highlight)
      .aura-card.episode.has-content) {
    color: var(--mdc-theme-primary);
  }
  * :global(.aura-card.host .name) {
    font-size: 0.8rem;
    padding-right: 4px;
  }
  * :global(.col-description *) {
    text-overflow: initial;
    white-space: break-spaces;
    overflow: visible;
    margin-top: 0;
  }
  * :global(.aura-card.episode .card-title) {
    padding: 16px;
  }
  * :global(.aura-card.episode:not(.has-media) .card-title) {
    margin-left: 20px;
  }
  * :global(.aura-card.episode.has-media .card-title) {
    margin-left: 42px;
  }
  * :global(.aura-card.episode.has-media .card-title::before) {
    content: '▶';
    padding-right: 8px;
    margin-left: -42px;
  }
</style>

<template>
  {#if show}
    <Card class="aura-card show">

      <LayoutGrid>
        <Cell span={5}>
          <div class="card-cell">
            <Content class="image-content">
              <div
                class="show-image card-media-16x9"
                aspectRatio="16x9"
                style={show.image ? `background-image:url(${show.image});` : ''} />
            </Content>
          </div>
        </Cell>
        <Cell span={7}>
          <div class="card-cell cell-right">
            <Content class="header">
              <h1 class="mdc-typography--headline1 title">
                <Display value={show.name} {renderHtml} />
              </h1>
              <p class="mdc-typography--subtitle1 subtitle">
                {#if show.short_description != null}
                  <Display
                    value={show.short_description}
                    {renderHtml}
                    renderLinks={true} />
                {:else}&nbsp;{/if}
              </p>

              <div class="meta-info">
                <ShowChips
                  category={show.category}
                  languages={show.language}
                  {urlShowList}
                  {displayCatTitle}
                  {displayCatIcons}
                  {displayLangIcons} />
              </div>
            </Content>
          </div>
        </Cell>
      </LayoutGrid>

      <LayoutGrid>
        <Cell span={6}>
          <div class="card-cell cell-left">

            <Content class="col-description">
              {#if show.description}
                <div>
                  <Display
                    value={show.description}
                    {renderHtml}
                    renderLinks={true} />
                </div>
              {/if}
            </Content>

            <Content class="url-section">
              <ul>
                {#if show.website != null && show.website != 'NULL'}
                  <li class="website">
                    Website:
                    <a href={show.website}>{show.website}</a>
                  </li>
                {/if}
              </ul>
            </Content>

            <Content class="host-section">
              <div class="host-list-small card-container list contained">
                {#if show.hosts}
                {#each show.hosts as host}
                  {#if host.is_active == "true"}
                    <HostCardAvatar
                      {host}
                      {urlHostDetail}
                      displayOverlay={true} />
                  {/if}
                {/each}
                {/if}

                <!-- TODO Replace custom merge of o94 hosts with AURA implementation -->
                {#if other_hosts}
                  {#each other_hosts as host}
                    <HostCardAvatar
                      {host}
                      displayOverlay={true} />
                  {/each}
                {/if}
              </div>
            </Content>
          </div>
        </Cell>
        <Cell span={6}>
          <div class="card-cell cell-right">
            <Content class="episode-section">

              <h2 class="title-episode-list">{labelEpisodes}</h2>
              <div
                class="episode-list-small card-container list contained
                current-episodes">

                {#if episodes}
                  {#each episodes as episode}
                    <span class={episode.isCurrent ? 'highlight' : ''}>
                      <EpisodeCardSmall
                        {episode}
                        urlEpisodeDetail={urlEpisodeDetail + episode.id} />
                    </span>
                  {/each}
                {:else}
                  <p>{labelCurrentNone}</p>
                {/if}
                {#if hasMoreEpisodes}
                  <Button variant="outlined" on:click={eventShowMore}>
                    <Label>{labelShowMore}</Label>
                  </Button>
                {/if}
              </div>

            </Content>
          </div>
        </Cell>
      </LayoutGrid>

    </Card>
  {:else}
    <Spinner />
  {/if}
</template>
