<script>
  import { onMount, getContext } from 'svelte'
  import Spinner from '../common/Spinner.svelte'
  import Ripple from '@smui/ripple'
  import Card, { Content, Media } from '@smui/card'
  import LayoutGrid, { Cell } from '@smui/layout-grid'
  import Display from '../common/Display.svelte'

  export let show = undefined
  export let urlShowDetail = undefined

  const context = getContext('show')
  const renderHtml = context.renderHtml

  /* Initialize the component */
  onMount(() => {})
</script>

<style lang="scss">

</style>

<template>
  {#if show}
    <Card class="aura-card show">
      <a class="card-link" href={urlShowDetail + show.slug}>
        <div use:Ripple={{ surface: true }}>
          <LayoutGrid>
            <Cell span={2}>
              <div class="card-cell cell-left">
                <Media
                  class="card-media-square mdc-card--outlined"
                  aspectRatio="square"
                  style={show.image ? 'background-image:url(' + show.image + ');' : ''} />
              </div>
            </Cell>
            <Cell span={10}>
              <div class="card-cell cell-right">
                <Content class="mdc-typography--body2">
                  <h3
                    class="mdc-typography--headline6 title"
                    style="margin: 0;">
                    <Display value={show.name} {renderHtml} />
                  </h3>
                  {#if show.short_description != null}
                    <span class="short-description">
                      <Display value={show.short_description} {renderHtml} />
                    </span>
                  {/if}
                </Content>
              </div>
            </Cell>
          </LayoutGrid>
        </div>
      </a>
    </Card>
  {:else}
    <Spinner />
  {/if}
</template>
