<script>
  import { onMount, getContext } from 'svelte'
  import Ripple from '@smui/ripple'
  import Card from '@smui/card'
  import LayoutGrid, { Cell } from '@smui/layout-grid'
  import Display from '../common/Display.svelte'
  import DateTime from '../common/DateTime.svelte'
  import {
    hasEpisodeMedia,
    isCurrentShow,
    hasEpisodeTitle,
  } from '../common/Common.svelte'
  import ShowChips from '../elements/ShowChips.svelte'

  export let episode = undefined
  export let urlEpisodeDetail = undefined
  export let urlShowDetail = undefined
  export let urlShowList = undefined
  export let displayCatTitle = undefined
  export let displayCatIcons = undefined
  export let displayLangIcons = undefined

  const context = getContext('programme')
  const renderHtml = context.renderHtml

  let isActive = false

  /* Initialize the component */
  onMount(() => {
    isActive = isCurrentShow(episode.start, episode.virtualEnd)
  })
</script>

<style lang="scss">
  .timeslot-header,
  .episode-title,
  .fallback-title {
    text-overflow: initial;
    white-space: break-spaces;
    overflow: visible;
  }
  .timeslot-header {
    width: 100%;
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: gray;
  }
  .episode-title,
  .fallback-title {
    color: var(--mdc-theme-primary);
    margin: 0.5em 0;
  }

  /* SMUI components need to be selected via global namespace */

  * :global(.cell-center > .mdc-card__actions) {
    margin-top: 0;
  }
  * :global(.cell-center > button) {
    margin-top: 0;
  }
</style>

<template>
  <!-- #FIXME Currently doesn't hold any media info like episode.note.audio_url || episode.note.cba_id -->
  <Card
    variant="outlined"
    class="aura-card episode {hasEpisodeMedia(episode) ? 'has-media' : ''}
    {isActive ? 'is-active' : ''}">

    <div use:Ripple={{ surface: true }}>
      <LayoutGrid fixedColumnWidth>
        <Cell spanDevices={{ desktop: 2, tablet: 2, phone: 1 }}>

          <div class="timeslot-header">
            <div class="time-start">
              <DateTime
                start={episode.start}
                end={episode.end}
                displayTimeOnly={true} />
            </div>
          </div>

        </Cell>
        <Cell spanDevices={{ desktop: 6, tablet: 4, phone: 3 }}>

          <div class="timeslot-header">
            <div class="show-title">
              <!-- #FIXME "episode.title" should be "episode.show_title" or for consistency "episode.show.title" // show "random order" doesn't follow this structure (@see steering#97) -->
              <Display value={episode.title} {renderHtml} />
            </div>
          </div>
          <div class="timeslot-body">
            {#if episode.customUrl}
              <a href={episode.customUrl}>
                <h2 class="episode-title">
                  <Display value={episode.note_title} {renderHtml} />
                </h2>
                <p>
                  <Display value={episode.summary} {renderHtml} />
                </p>
              </a>
            {:else if hasEpisodeTitle(episode)}
              <!-- #FIXME "episode.emission_ID" should be "episode.timeslot_id", "episode.episode_id" or "episode.id" only (@see steering#97) -->
              <a href={urlEpisodeDetail + episode.emission_ID}>
                <h2 class="episode-title">
                  <Display value={episode.note_title} {renderHtml} />
                </h2>
              </a>
              <p>
                <Display value={episode.summary} {renderHtml} />
              </p>
            {:else if episode.show.short_description}
              <a href={urlShowDetail + episode.show.slug}>
                <h2 class="fallback-title">
                  <Display
                    value={episode.show.short_description}
                    {renderHtml} />
                </h2>
              </a>
            {:else}
              <a href={urlShowDetail + episode.show.slug}>
                <h2 class="fallback-title">
                  <Display value={episode.title} {renderHtml} />
                </h2>
              </a>
            {/if}

            {#if episode.show}
              <div class="meta-info">
                <ShowChips
                  category={episode.show.category}
                  languages={episode.show.language}
                  {urlShowList}
                  {displayCatTitle}
                  {displayCatIcons}
                  {displayLangIcons} />
              </div>
            {/if}
          </div>

        </Cell>
      </LayoutGrid>

    </div>
  </Card>
</template>
